<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>山东大学图书管理系统</title>
		<link type="text/css" rel="stylesheet" href="/static/css/login.css">
		<style> 	
			#main {
				position: absolute;width:400px;height:200px;left:50%;top:50%; 
				margin-left:-200px;margin-top:-100px;
			} 
		</style>
		
		<script language="javascript" type="text/javascript">
			function ok() {
				window.open("user_search.html", "_self");
			}
		</script>
	</head>	
	<body>
	
		<!--（舍去）加一个山东大学的校徽图案-->
	
		<!--从四个方向移动过来的上，下，左，右-->
	
		<div id="main">   <!--style="width:300px; margin:0px auto;"-->
			<h3>山东大学图书管理系统</h3>
			<form method="post">
				<div class="input-prepend">
				  <!--<span class="add-on"><i class="icon-user"></i></span>-->
				  <input class="span2" id="sign_in_account" name="account" placeholder="账号" type="text" value="" />
				</div><br>
				<div class="input-prepend">
				  <!--<span class="add-on"><i class="icon-unlock-alt"></i></span>-->
				  <input class="span2" id="sign_in_password" name="passwd" placeholder="密码" type="password" />
				</div><br>
				
				
				<!--
				
				<div class="control-group">
				  <input id="remember_me" name="remember_me" type="checkbox" value="true" /> 记住我 | <a href="???">忘记密码</a>
				</div>
				
				-->
				
				
				<input type="submit" value = "登 录" class="ladda-button submit-button" data-color="blue"><br/>
			</form>
			{% if issend %}
				{% if not ismatch %}
					<p align="center">账号或密码错误。</p>
				{% endif %}
			{% endif %}
		</div>
	</body>
	
</html>