<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>书籍查询</title>
		<link type="text/css" rel="stylesheet" href="./css/main.css">
		<link type="text/css" rel="stylesheet" href="./css/login.css">
	</head>
	
	<body background-color="e2e2e2">
		<div id="menubar">
			<ul id="menu_top" align="center" style="padding-left:40px;">
    		  	<li><a href="./manager_search.html" target="_self">书籍查询</a></li>
	  		  	<li><a href="./newbookentering.html" target="_self">新书录入</a></li>
				<li><a href="./handlingviolation.html" target="_self">违规处理</a></li>
			</ul>
		</div>
	
		<br/>
		<div class="enter_2">   <!--style="width:300px; margin:0px auto;"-->
			<h3>新书录入</h3>
			<br/>
			<input name="isbn" placeholder="ISBN" type="text" /><br/>
			<input name="bookname" placeholder="书名" type="text" /><br/>
			<input name="bookname" placeholder="数量" type="text" /><br/>
			<input name="bookname" placeholder="作者" type="text" /><br/>
			<input name="bookname" placeholder="所属分类" type="text" /><br/>
			<input name="bookname" placeholder="索书号" type="text" /><br/>
			<input name="bookname" placeholder="出版社" type="text" /><br/>
			<input name="bookname" placeholder="出版时间" type="text" /><br/>
			<input name="bookname" placeholder="价格" type="text" /><br/>
			<br/>
			<button class="ladda-button submit-button" data-color="blue">
			  <span class="ladda-label">确认录入</span>
			</button><br/>
			
			<!--
			
			{% if issend and ismatch %}
				alert: 已存在该书
			{% else %} 
				submit
			{% endif %}
			
			-->
		</div>
		
	
	
	</body>
	
</html>