<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>书籍查询</title>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css">
		<link type="text/css" rel="stylesheet" href="/static/css/login.css">
	</head>
	
	<body>
		<div id="menubar">
			<ul id="menu_top" align="center">
    		  	<li id="menubar_2"><a href="../user_search" target="_self">书籍查询</a></li>
	  		  	<li id="menubar_2"><a href="../mybook" target="_self">我的书籍</a></li>
				<li id="menubar_2"><a href="../userinfo" target="_self">{{ onlineuser }}</a></li>
			</ul>
		</div><br />
		<br />
		<br />
		
		<form method="post">
			<input name="bookname" type="text" placeholder="搜索海量书籍"><br />
			<input type="submit" value="搜索" class="ladda-button submit-button" data-color="blue">
		</form><br />
		
		{% if issend %}
			{% if size > 0 %}
				<form method="post">
					<table id="search" align="center">
						<tr>
							<th style="width:220px">书名</th>
							<th style="width:200px">作者</th>
							<th style="width:200px">出版社</th>
							<th style="width:200px">索书号</th>
							<th style="width:130px">馆藏数量</th>
							<th style="width:130px">借阅</th>
						</tr>
						{% for book in book_list %}
							<tr>
								<td >{{ book.bookname }}</td>
								<td>{{ book.authorname }}</td>
								<td>{{ book.publisher }}</td>
								<td>{{ book.callnumber }}</td>
								<td>{{ book.number }}</td>
								{% if book.number > 0 %}
									<td><input type="checkbox" name="borrow_list" value="{{ book.bookname }}"></td>
								{% endif %}
							</tr>
						{% endfor %}
					</table><br />
					<input type="submit" value="提交" class="ladda-button submit-button" data-color="blue">
					
				</form>
			{% elif isborrow %}
				<p>成功借阅以下书籍：</p>
				{% for borrow in borrow_list %}
					<p>《{{ borrow }}》</p>
				{% endfor %}
			{% elif hadborrow %}
				<p>您已借阅以下书籍，不能重复借阅：</p>  <!--或者：在HTML中显示「已借」-->
				{% for borrow in had_borrow_list %}
					<p>《{{ borrow }}》</p>
				{% endfor %}
			{% else %}
				<p>啊哦，未找到相关书籍。</p>
			{% endif %}	
		{% endif %}
	</body>
</html>