<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>书籍查询</title>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css">
		<link type="text/css" rel="stylesheet" href="/static/css/login.css">
	</head>
	
	<body>
		<div id="menubar">
			<ul id="menu_top" align="center">
    		  	<li id="menubar_2"><a href="../user_search" target="_self">书籍查询</a></li>
	  		  	<li id="menubar_2"><a href="../mybook" target="_self">我的书籍</a></li>
				<li id="menubar_2"><a href="../userinfo" target="_self">{{ onlineuser.account }}</a></li>
			</ul>
		</div><br />
		<br />
		<br />
		
		<form method="post">
			<input name="passwd" type="password" placeholder="当前密码"><br />
			<input name="newpasswd" type="password" placeholder="新密码"><br />
			<input name="renewpasswd" type="password" placeholder="重复新密码"><br />
			<input type="submit" value="修改密码" class="ladda-button submit-button" data-color="blue">
		</form>
		<!--
		<form method="post">
			<input type="submit" value="退出系统" class="ladda-button submit-button" data-color="blue">
		</form>
		-->
		{% if issend %}
			<br />
			{% if ismatch %}
				<p>密码修改成功。</p>
			{% else %}
				<p>您输入的密码不匹配，请重新输入。</p>
			{% endif %}	
		{% endif %}
	</body>
</html>