<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>书籍查询</title>
		<link type="text/css" rel="stylesheet" href="./css/main.css">
	</head>
	
	<body>
		<div id="menubar">
			<ul id="menu_top" align="center">
    		  	<li><a href="./user_search.html" target="_self">书籍查询</a></li>
	  		  	<li><a href="./userinfo.html" target="_self">我的书籍</a></li>
				<li><a href="./userinfo.html" target="_self">用户信息</a></li>
			</ul>
		</div>
		
		<br />
		<br />
	
		
	
		<input name="email" type="text" placeholder="搜索海量书籍" style="width:300px;height:30px;">
		<input type="submit" value="搜索" style="width:70px;height:30px;">
		<input type="submit" value="随机几本？" style="width:80px;height:30px;">
		<br />
		<br />
		<table id="search" align="center">
			<tr>
				<th style="width:220px">书名</th>
				<th style="width:200px">作者</th>
				<th style="width:200px">索书号</th>
				<th style="width:130px">馆藏数量</th>
			</tr>
			<tr>
				<td>Haskell 趣学指南</td>
				<td>Miran Lipovaca</td>
				<td>TP311.56/*026</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Django 入门经典</td>
				<td>Jeff Forcier</td>
				<td>TP311.56-62/*002</td>
				<td>3</td>
				
			</tr>
			<tr>
				<td>Python 核心编程</td>
				<td>Wsdley J. Chun</td>
				<td>TP311.56/*371</td>
				<td>1</td>
			
			</tr>
			<tr>
				<td>新机器的灵魂</td>
				<td>Tracy Kidder</td>
				<td>I712.55/*128</td>
				<td>4</td>
			
			</tr>
			<tr>
				<td>JavaScript与jQuery技术精粹</td>
				<td>Smashing Magazine</td>
				<td>TP393.092/*2035</td>
				<td>5</td>
			
			</tr><tr>
				<td>Unity 4.X 从入门到精通</td>
				<td>Unity technologies</td>
				<td>TP317.6/*004</td>
				<td>2</td>
				
			</tr>
		</table>
	
				<!--<td><input type="submit" value="借阅此书" style="width:70px;height:30px;"></td>-->
	</body>
	
</html>